.popup__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  background-image: url(../../../images/icons/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  cursor: pointer;
  transition: .3s;
}

.popup__close-button:hover {
  opacity: .6;
}